extends layout

block content
  h1 Pug - node template engine
  #container
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
    p.
      Request time : #{currentTime}
